.button {
  background-color: black;
  color: white;
  font-size: 15px;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.container {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgb(53, 132, 250);
  border: 1px solid blue;
  border-radius: 20px;
  padding-bottom: 10px;
}

.title-artist {
  text-align: center;
  font-family: fantasy;
}

.artist-genre {
  text-align: center;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.votes {
  text-align: center;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}

.navbar {
  text-align: center;
}

.nav-link {
  display: inline-block;
  width: 200px;
  padding: 8px;
  background: black;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.active {
  color:rgb(53, 132, 250);
}